{% extends "layout.html" %}
{% block content %}
  <!-- Custom styles for this template -->
  <link href="/static/css/signin.css" rel="stylesheet">

  <div class="container">
    <h2>デバイス一覧</h2>
    <div class="table-responsive">
      <table class="table table-striped">
	<thead>
	  <tr>
<!--	    <th>ID</th> -->
	    <th>MAC</th>
<!--	    <th>TIME</th> -->
<!-- 	    <th>LIGHT VALUE</th> -->
	  </tr>
	</thead>
	<tbody>
	  {% for light in lights %}
	  <tr>
<!--	    <td>{{light.id}}</td> -->
	    <td>{{light.mac}}</td>
<!-- 	    <td>{{light.time}}</td> -->
<!--	    <td>{{light.light}}</td> -->
	  </tr>
	  {% else %}
	    <td>デバイスが登録されていません</td>
	  {% endfor %}
	</tbody>
      </table>
    </div>

  </div> <!-- /container -->
{% endblock %}

